<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
</head>
<body style=" margin-left: 100px; margin-top: 100px;">
<h1>Admin page</h1>
<p>In this page you can change data tables</p>
<button><%= link_to "Streams", admin_streams_path %></button>