<!--<h1>Pages#index</h1>-->
<!--<p>Find me in app/views/pages/index.html.erb</p>-->


<%= javascript_pack_tag 'index' %>

<%#= javascript_pack_tag 'hello_react' %>

<%#= react_component('Hello', name: 'Icicle') %>

<%#= react_component('GreetUser', name: 'Icicle') %>

<!-- becomes: -->
<!--<div data-react-class="GreetUser" data-react-props="{&quot;name&quot;:&quot;Icicle&quot;}"></div>-->